body {
  background-color: #f0f0f0 ;
  margin: 0;
  padding: 0;
  height: 100vh;
}
/* 
even darker : e0e0e0
more darke : d3d3d3
*/
.course-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.course-card {
  max-width: 345px;
  transition: transform 0.3s ease-in-out;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card-content {
  text-align: center;
}

.course-title {
  font-weight: bold;
}

.course-description {
  margin-bottom: 10px;
}

.enroll-button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.enroll-button:hover {
  background-color: #0056b3; 
}


