.home-container {
    display: flex;
}

.left-section {
    width: 65%;
    height: 100%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.video-wrapper {
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.right-section {
    width: 35%;
    height: 100%;
    font-size: 1.2em;
    overflow-y: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.chapter-list ul li {
    margin-bottom: 15px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chapter-list h2{
    font-size:10vh;
    font-weight: 500;
    margin-bottom: 5%;
}

.chapter-list ul li button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    cursor: pointer;
    color: inherit;
    text-align: left;
}