* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.container-login {
    background: url("../assets/LoginBg.jpeg.jpg") center/cover;
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.loginPage {
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.inputBox {
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 100%;
    border: 1px solid skyblue;
    border-radius: 25px;
    outline: none;
}

.loginPage button {
    padding: 10px 20px;
    background-color: skyblue;
    border: none;
    cursor: pointer; 
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.loginPage button:hover {
    background-color: #00bcd4; 
}
