/* SearchCourse.css */

.search-course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .course-list .MuiCard-root {
    margin: 10px;
  }
  